<div id="<%= dom_id article %>" class="card" style="width: 18rem; margin-bottom: 2em">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>

    <p>
      <%= link_to "Read more", article, class: 'btn btn-primary' %>
    </p>
  </div>
</div>