<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <%end%>

<h1 class="mb-3">Articles</h1>

<% if @articles.length === 0 %>
  <div class="alert alert-light" role="alert">
    No Articles to show!
  </div>
<% end %>

<ul class="list-group" id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</ul>