<h1>Authors</h1>
<p>List of authors</p>
<div class="d-flex justify-content-between">
    <%= link_to "New Author", new_author_path %>
</div>

<%# 
<div class="d-flex justify-content-between">
    <%= link_to "Read more", author_path %>
</div>





